_site/
.git/
.jekyll-cache/
.sass-cache/
.bundle/
node_modules/
vendor/
lighthouse_results/
readme_preview/
assets/rendercv/rendercv_output/
assets/audio/
assets/video/
assets/jupyter/
assets/plotly/
assets/html/
