/*******************************************************************************
 * Footer styles
 ******************************************************************************/

footer.site-footer {
  background-color: var(--global-bg-color);
  border-top: 1px solid var(--global-divider-color);
  bottom: auto !important;
  position: static !important;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;

  .container {
    text-align: center;
  }

  .container,
  .container * {
    color: var(--global-text-color) !important;
  }

  a {
    color: var(--global-text-color) !important;

    &:hover {
      color: var(--global-hover-color) !important;
      text-decoration: none;
    }
  }
}
